body {
    margin:50px;
    min-width:1000px;
}

#wrapper {
    text-align:center;
}

.search_margin {
    
}

#search {
    height:40px;
    width:300px;
}

.visualize {
    display:block;
    height:450px;
}

.link {
    color:red;
    fill:red;
    stroke:red;
}