
body {
    margin:50px;
    min-width:1000px;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#wrapper {
    text-align:center;
}

.search_margin {
    
}

#search {
    height:40px;
    width:300px;
}

.visualize {
    display:block;
    height:450px;
}

.link {
    color:red;
    fill:red;
    stroke:red;
}